
/xaero
/XaeroWaypoints_BACKUP240807
/screenshots
/saves
options.txt
/logs
/.fabric
/automodpack
/essential
/flashback
ears-debug.log
hs_err_pid12764.log
hs_err_pid14388.log
usercache.json
command_history.txt
.mixin.out/class/net/minecraft/class_6724.class
ops.json
realms_persistence.json
emi.json
downloads/log.json
data/fabricDefaultResourcePacks.dat
/crash-reports
config/xaerominimap.txt
config/xaeropatreon.txt
mods/reactivemusic-0.4.0+1.21.jar
mods/flashback-0.10.0.jar
mods/flashback-0.11.0.jar
